<div class="container mt-3">
    <div class="row justify-content-center">
        <div id="login" class="col-lg-6 shadow-lg  text-center rounded-3 bg-light col-sm-12">
            <p-toast position="top-center" key="tc"></p-toast>
            <h3 class="text-center p-3">Log In</h3>
            <form class="example-form container" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()"
                novalidate>
                <div class="row d-flex">
                    <div class="col">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Please enter a
                                valid email address</mat-error>
                            <mat-error *ngIf="email.hasError('required')">
                                Email is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Password</mat-label>
                            <input type="password" id="password" matInput formControlName="password"
                                [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
                            <mat-hint *ngIf="password.valid">Looks Strong Like You!</mat-hint>
                            <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">Password
                                must include 1 uppercase, 1 special symbol and 1 number</mat-error>
                            <mat-error *ngIf="password.hasError('required')">
                                Password is required</mat-error>
                            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Login Type</mat-label>
                            <mat-select formControlName="loginType" [errorStateMatcher]="matcher">
                                <mat-option value="user">User
                                </mat-option>
                                <mat-option value="lineman">Lineman
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="loginType.hasError('required')">
                                Login Type is required</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="col pb-5">
                    <p class=" pt-3 text-secondary d-flex justify-content-center"><a routerLink="/signup"
                            class="text-decoration-none">New Here
                            ?Register!</a></p>
                    <button mat-raised-button color="primary" type="submit" class="example-full-width">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>